<h2>All Users</h2>

    <% @users.each do |user| %>
    <ul>
        <li>
            <strong><%= user.username%></strong><br/>
            <%= user.email%><br/>
            <%= link_to 'Show', user %>
            <%= link_to 'Edit', edit_user_path(user) %>
        </li>
    </ul>
    <% end %>

<br>

<h3>All Events</h3>

  <ol>
    <% @events.each do |event| %>
        <li><%= event.event_name %></li>   
        <%= link_to 'Show', event %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>  
    <% end %>
  </ol>


<%= link_to 'New User', new_user_path %>

<%= link_to 'All Events', events_path %>