<h1>All Users</h1>

    <% @users.each do |user| %>

    <%= user.username%><br/>
    <%= user.email%>
      
        <%= link_to 'Show', user %>
        <%= link_to 'Edit', edit_user_path(user) %>
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
     
    <% end %>


<br>

<%= link_to 'New User', new_user_path %>