
<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :event_name, required: true, autofocus: true, input_html: { autocomplete: "event_name" }%>
    <%= f.input :event_description, required: true, autofocus: true, input_html: { autocomplete: "event_description" }%>
    <%= f.input :event_location, required: true, autofocus: true, input_html: { autocomplete: "event_location" }%>
    <%= f.input :event_date, required: true, autofocus: true, input_html: { autocomplete: "event_date" }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
