<h3>All Events</h3>

  <ol>
    <% @events.each do |event| %>
        <li><%= event.event_name %></li>   
        <%= link_to 'Show', event %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>  
    <% end %>
  </ol>


<br>

<%= link_to 'New Event', new_event_path %>
