<!DOCTYPE html>
<html>
  <head>
    <title>MyPrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
            <% if user_signed_in? %>
              <p class="control">
                <%= link_to current_user.username, edit_user_registration_path, class: "button is-info"%>
              </p>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "button is-info"%>
              </p>
              <% else %>
              <p class="control">
              <%= link_to "Sign In", new_user_session_path, class: "button is-info"%>
              <p class="control">
              <%= link_to "Sign Up", new_user_registration_path, class: "button is-info"%>
              </p>
              <% end %>
  </nav>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
